<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr />
      <app-servers></app-servers>
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>
          Add a paragraph with any content of your choice (e.g. 'Secret Password
          = tuna')
        </li>
        <li>
          Toggle the displaying of that paragraph with the button created in the
          first step
        </li>
        <li>
          Log all button clicks in an array and output that array below the
          secret paragraph (maybe log a timestamp or simply an incrementing
          number)
        </li>
        <li>
          Starting at the 5th log item, give all future log items a blue
          background (via ngStyle) and white color (ngClass)
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <button class="btn btn-primary" (click)="handleClick()">
        Display Details
      </button>
    </div>
    <div class="col-xs-10">
      <p *ngIf="showDetails">Secret Password = Tuna</p>
    </div>
    <div class="col-xs-12">
      <p
        *ngFor="let log of logs"
        [ngStyle]="{ backgroundColor: log.number >= 5 ? 'blue' : 'white' }"
        [ngClass]="{ 'white-text': log.number >= 5, 'italic-text': log.show }"
      >
        {{ log.text }}
      </p>
    </div>
  </div>
</div>
